.login-form {
  width: 100%;
  
}
@media screen and (width > 600px) {
  .login-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    border: 1px solid var(--border-color);
    border-radius: 0.5em;
  }
}


